/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Inter);
@import url(https://fonts.googleapis.com/css?family=Nunito);


/* Global */
html{
  min-height: 100%;
  min-width: 100%;
  overflow: scroll;
}

#pageHeader {
  text-align: center;
  font-size: 80px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  font-weight: 900;
  line-height: 0.4em;

}

.topHeader {
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-left: 30px;
  margin-bottom: 40px;
}

.topHeader img {
  height: 30px;
  width: 30px;
}

body {
  font-family: "Anonymous Pro", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 1em; /*line space between each line*/
  /*(1em is 16px, 0.5em is 8 px)*/
  margin: 0; /*changes from default margin to have no margin*/
  height: 900px;
}

.container {
  width: 80%;
  margin-top: 30px;
}

/***Main Header***/
#mainHeader h1 {
  color: black;
  font-family: Helvetica, sans-serif;
  text-align: center;
  }

 /***Nav Bar***/ 
#mainNav {
  /*background: #ccc;*/
  color: black;
  position: -webkit-sticky; /*Stays in position!*/
  position: sticky;
  top: 0;
}
#mainNav ul {
  padding: 0;
  margin: 10;
  list-style: none; 
}

#mainNav li {
  display: inline;
  padding: 5px 10px;
  /*text-align: center;*/
}

#mainNav a { /*specifically for anchor link*/
  color: black;
  text-decoration: none;
  font-size: 18px;
}

#mainNav li:hover { /*specify hover state of list object*/
  background: lightgray; 
}

/***Jumbo***/
#jumbo {
  display: flex;
  min-height: 250px; /*min pixels*/
  align-items: center center;
  background-color: white;
}

#jumbo h1 {
  color: black;
  font-size: 45px;
  line-height: 1.6em;
  text-align: center;

}

/*Side Nav Bar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffcccc;
  transition: 0.5s;
  padding-top: 60px; 
  font-family: "Inter", Helvetica, sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Animated Header*/
.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: black;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.line-1 {
    position: relative;
    top: 50%;  
    margin: 0 auto;
    border-right: 2px solid black;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;    
    transform: translateY(-50%);    
    margin-bottom: 40px;
}

/*Latest header*/
.mHeader-1 {
  font-family: "Inter", Helvetica, sans-serif;
  margin-left: 10%;
  transform: translate(20px, 120px);
  font-size: 150px;
}


/******CODING Grid Container******/
.grid-container {
  display: grid;
  width: 80%; /*Makes 80% width of screen*/
  margin: auto; /*takes left over % (20) and centers left and right*/
  height: 1850px;
  padding-top: 30px;
  grid-template:
  "projectOne projectOne" 560px
  "projectTwo projectThree" 569px
  "projectFour projectFour" 550px
   / 1fr 1fr
}

.grid-item {
  display: grid;
  font-family: "Inter", Arial, sans-serif;
  }

.coding-1 {
  display: grid;
  grid-area: projectOne;
  background-image: url("appsFlatlayR3.png");
  background-size: cover;
  font-size: 50px;
  color: white;
  font-family: "Nunito", Helvetica, Arial, sans-serif;

}

.coding-1 img {
  width:30px;
  height:30px;
  margin-top: 30px;
  position: relative;
  margin-right: 2px;
  font-size: 50px;
  color: white;
  transform: translate(20px, 480px);
}

.emptyBig {
  grid-area: empty;
}

#projectTitle {
  grid-area: projectTitle1;
}

#subText {
  margin-top: 30px;
  grid-area: subText;
  position: grid;
  font-size: 15px;
  color: white;
  font-family: "Nunito", Helvetica, sans-serif;
  line-height: 20px;

}

.coding-2 {
  background-color:white;
  grid-area: projectTwo;
  background-size: cover;
  justify-items: center; /*align items is what allows elements within grid cell to align*/
  display: grid;
  font-size: 20px;
  text-align: start;
  align-items: center;
  color: black;
  font-family: "Nunito", Helvetica, sans-serif;
}

.coding-3 {
  background-color:white;
  grid-area: projectThree;
  justify-items: center; /*align items is what allows elements within grid cell to align*/
  align-items: center;
  display: grid;
  background-size: cover;
  font-family: "Nunito", Helvetica, sans-serif;
}

.coding-4 {
  grid-area: projectFour;
  background-size: cover;
  justify-items: center; /*align items is what allows elements within grid cell to align*/
  display: grid;
  font-size: 20px;
  text-align: start;
  align-items: center;
  color: black;
  font-family: "Nunito", Helvetica, sans-serif;
  background-image: url("pyJava-V2.png");
  
  grid-template: 
    "python java" 1fr
      / 1fr 1fr 
}

.python {
  grid-area: python;
  margin: 30px;
  height: 90%;
  align-items: center;
}
.text-python {
  align-self: end;
  
}
.button-python {
  margin-top: 65%;
  width: 160px;
  height: 60px;
  align-self: end;
  justify-self: center;
  text-align: center;
  font-size: 15px;
}

.coding-4 {
  grid-area: projectFour;
  background-size: cover;
  justify-items: center; /*align items is what allows elements within grid cell to align*/
  display: grid;
  font-size: 20px;
  text-align: start;
  align-items: center;
  color: black;
  font-family: "Nunito", Helvetica, sans-serif;
  grid-template: 
    "python java" 1fr
      / 1fr 1fr 
}

.java {
  grid-area: java;
  margin: 10px;
  text-align: center;
  align-self: start;
  height: 90%;
}

.java p {
  font-size: 70px;
  line-height: 55px;
  margin-top: 10%;

}
.button-java {
  margin-bottom: 90px;
  width: 170px;
  height: 7px;
  align-self: center;
  justify-self: center;
  text-align: center;
  font-size: 15px;
}

.buttonCoding {
  background-color: #a18deb;
  border: none;
  color: white;
  opacity: 0.7;
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
  width: 165px;
  height: 55px;
}

.buttonCoding:hover {
  opacity: 1
}


/******MAKES Grid Container******/
.grid-container-2 {
  display: grid;
  width: 80%; /*Makes 80% width of screen*/
  margin: auto; /*takes left over % (20) and centers left and right*/
  height: 3500px;
  padding-top: 30px;
  margin-bottom: 50px;
  grid-template:
  "projectOne projectOne" 1250px
  "projectTwo projectTwo" 370px
  "projectThree projectFour" 500px
  "projectFive projectFive" 1350px
   / 40% 60%
}

.grid-item-makes {
  display: grid;
  font-family: "Inter", Arial, sans-serif;
  }

.makes-1 {
  display: grid;
  grid-area: projectOne;
  background-image: url("projectsOneFlatlay-V2.png");
  background-size: cover;
  font-size: 30px;
  text-align: start;
  color: black;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  justify-content: center;
  align-content: center;
  grid-template: 
  "column1 column2" 1fr
  / 40% 60%
}

.column1 {
  grid-area: column1;
  grid-template:
  "row1" 1fr
  "row2" 1fr
  "row3" 1fr
  / 1fr
}

/*Row 1*/
.row1 {
  grid-area: row1;
}
/*Row 2*/
.row2 {
  padding-top: 10%;
  grid-area: row2;
}
.row2 .header1 {
  font-size: 37px;
}
.row2 .subText1 {
  padding: 2%;
  padding-top: 20px;
  font-size: 15px;
}
/*Row 3*/
.row3 {
  grid-area: row3;
  margin-right: 40%;
}
.row3 .header2 {
  padding-top: 7%;
  grid-area: row3;
}
.row3 .subText2 {
  padding: 2%;
  padding-top: 20px;
  font-size: 15px;
}

.column2 {
  grid-area: column2;
}


.makes-2 {
  grid-area: projectTwo;
  background-image: url("projectsTwoFlatlay-V2.png");
  background-size: cover;
  display: grid;
  font-size: 20px;
  color: black;
  font-family: "Nunito", Helvetica, sans-serif;
  padding: 20px;
}

.viewProjectButton {
    transform: translate(0px, 280px);
    font-size: 10px;
  
}

.makes-3 {
  grid-area: projectThree;
  background-size: cover;
  justify-items: center; /*align items is what allows elements within grid cell to align*/
  display: grid;
  font-size: 20px;
  text-align: start;
  align-items: center;
  color: black;
  font-family: "Nunito", Helvetica, sans-serif;
  background-image: url("bike.jpeg");
  margin: 20px;
  background-color: lightyellow;


}

.makes-4 {
  grid-area: projectFour;
  justify-items: center; /*align items is what allows elements within grid cell to align*/
  align-items: center;
  display: grid;
  background-size: cover;
  font-family: "Nunito", Helvetica, sans-serif;
}

.makes-5 {
  display: grid;
  grid-area: projectFive;
  background-image: url("projectsThreeFlatlay-V3.png");
  background-size: cover;
  line-height: 22px;
  font-size: 20px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  grid-template: 
  "column1 column2" 1fr
  / 1fr 1fr
}

.makeColumn-1 {
  grid-area: column1;
  grid-template:
    "make-row1" 30%
    "make-row2" 15%
    "make-row3" 25%
    "make-row4" 30%
    / 1fr 
}

.make-row1 {
  grid-area: make-row1;
}
.make-row2 {
  grid-area: make-row2;
  align-self: end;
  padding-bottom: 2%;

}
.make-row3 {
  grid-area: make-row3;
  padding-top: 2%;


}
 .make-row4 {
  grid-area: make-row4;

}

.makeColumn-2 {
  grid-area: column2;
  grid-template:
  "make-row5" 25.5%
  "make-row6" 17%
  / 1fr 
}
.make-row5 {
  grid-area: make-row5;
}
.make-row6 {
  grid-area: make-row6;

}
.make-row7 {
  grid-area: make-row7;
}
/******INVOLVEMENTS Grid Container******/
.grid-container-involvements {
  display: grid;
  width: 80%; /*Makes 80% width of screen*/
  margin: auto; /*takes left over % (20) and centers left and right*/
  height: 600px;
  padding-top: 30px;
  margin-bottom: 100px;
  /*grid-template-rows: repeat(1, 1fr); /*repeat - that way dont have to repeat writing*/
  /*grid-template-columns: repeat(1, 1fr); repeat - that way dont have to repeat writing*/
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;

}

.involvements-grid-item {
  display: grid;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  padding: 40px;
  }

.involvements-1 {
  grid-column: 1 / 2;
  display: grid;
  background-color: #cacffc;

}

.mHeader-2 {
  font-family: "Inter", Helvetica, sans-serif;
  margin-left: 10%;
  transform: translate(20px, 120px);
  font-size: 130px;
}

.involvements-1 p {
  text-align: start;
  color: white;
}

.involvements-2 img {
  width:40px;
  height: 40px;
  align-self: end;
  padding: 0px;
  margin: 0px;
  transform: translate(-40px, 205px);
}

.involvementImage {
  background-color:lightyellow;
  grid-column: 2 / 3;
  background-image: url("speaker.png");
  background-size: cover;
}



/******CONTACT BOX Grid Container******/
.grid-container-contact {
  display: grid;
  width: 80%; /*Makes 80% width of screen*/
  margin: auto; /*takes left over % (20) and centers left and right*/
  height: 600px;
  padding-top: 30px;
  margin-bottom: 100px;
  grid-template-columns: repeat(2, 1fr);
  justify-items: stretch;
  align-items: stretch;

}

.contact-grid-item {
  display: grid;
  font-family: "Inter", Arial, sans-serif;
  padding: 40px;
  }

.contact-1 {
  grid-column: 1 / 2;
  display: grid;
  background-color: #afcefa;
}

.mHeader-2 {
  font-family: "Inter", Helvetica, sans-serif;
  margin-left: 10%;
  transform: translate(20px, 120px);
  font-size: 130px;
}

.contact-1 p {
  text-align: start;
  color: white;
}

.contact-2 img {
  width:40px;
  height: 40px;
  align-self: end;
  padding: 0px;
  margin: 0px;
  transform: translate(-40px, 205px);
}

.contactImage {
  background-color:lightyellow;
  grid-column: 2 / 3;
  background-image: url("face3.png");
  background-size: cover;
}

#email1 {
  margin-top: 20px;
  text-align: start;
  color: white;
  font-size: 55px;
  align-self: center;
  font-family: "Inter", Helvetica, sans-serif;
  margin-bottom: 10px;
}

#bar {
  color: white;
  font-size: 60px;
}

#email2 {
  margin-top: 40px;
  text-align: start;
  color: white;
  font-size: 55px;
  font-family: "Inter", Helvetica, sans-serif;
}
#emailInfo {
  color: white;
}

.emailLink {
  text-decoration: none;
}

u {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}

.contact-1 img {
  width:40px;
  height: 40px;
  align-self: end;
  padding: 0px;
  margin: 0px;
  transform: translate(-40px, 70px);
}

.contactImage {
  background-color:lightyellow;
  grid-column: 2 / 3;
  background-image: url("face3.png");
  background-size: cover;
}


/*FULL SCREEN*/
@media (max-width: 1600px) {
  .coding-5 .button-python2 {
    display: none;
  }
  .coding-5 .text-python2 {
    display: none;
  }
  .coding-5 p {
    display: none;
  }
  
  .coding-6 .button-java2 {
    display: none;
  }
  
  .coding-6 .text-java2 {
    display: none;
  }
  .coding-6 p {
    display: none;
  }
  
}

/****** 1200px - media queries******/
@media (max-width: 1200px) {
  .grid-container {
    display: block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
    width: 80%;
    height: 2000px;
  }

  .grid-container-2 {
    display: block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
    width: 80%;
    height: 2850px;
  }

  /*Coding-1*/
  .coding-1 {
    height: 500px;
    width: 100%;
  }
  .coding-1 img {
    transform: translate(20px, 420px);
  }

  /*Coding-2*/
  .coding-2 iframe {
    width: 100%;
  }

  /*Coding-3*/
  .coding-3 iframe {
    width: 100%;
  }

  /*Coding-4*/
  .coding-4 {
    width: 100%;
    height: 440px;
  }

  /*Coding-4 Text*/
  .python {
    grid-area: python;
    margin: 50px;
    height: 70%;
  }
  .text-python {
    align-self: center;
    font-size: 12px;
  }

  .button-python {
    width: 120px;
    height: 40px;
  }
  
  .java {
    grid-area: java;
    text-align: center;
    font-size: 15px;
  }
  .java p {
    margin-bottom: 60px;
    font-size: 40px;
    line-height: 45px;
  }

  /*Make-1*/
  .makes-1 {
    width: 97%;
    height: 900px;
    grid-template: 
    "column1 column2" 1fr
    / 30% 70%
  }

/*Row 1*/
.row1 {
  grid-area: row1;
}
/*Row 2*/
.row2 {
  padding-top: 10%;
  grid-area: row2;
}
.row2 .header1 {
  padding-top: 20%;
  font-size: 30px;
}
.row2 .subText1 {
  padding-top: 20px;
  font-size: 12px;
  margin-right: 20%;
}
/*Row 3*/
.row3 {
  grid-area: row3;
  margin-right: 40%;
}
.row3 .header2 {
  padding-top: 7%;
  grid-area: row3;
}
.row3 .subText2 {
  padding: 2%;
  padding-top: 20px;
  font-size: 12px;
}


   /*Make-2*/
   .makes-2 {
    width: 96%;
    height: 270px;
    margin-top: 40px;
  }
  .viewProjectButton {
    transform: translate(0px, 220px);
    font-size: 10px;
  
}


   /*Make-3*/
   .makes-3 {
    display: none;
  }

   /*Make-4*/
   .makes-4 iframe {
    width: 100%;
    height: 500px;
    margin: auto;
  }

   /*Make-5*/
   .makes-5 {
    width: 97%;
    height: 1100px;
    margin: auto;
  }
  
  
  
  .make-row1 {
    grid-area: make-row1;
  }
  .make-row2 {
    grid-area: make-row2;
    align-self: end;
    padding-bottom: 2%;
    font-size: 15px;
    line-height: 19px;
  
  }
  .make-row3 {
    grid-area: make-row3;
    padding-top: 2%;
    font-size: 15px;
    line-height: 19px;
  
  
  }
   .make-row4 {
    grid-area: make-row4;
  
  }
  
  .makeColumn-2 {
    grid-area: column2;
    grid-template:
    "make-row5" 25.5%
    "make-row6" 17%
    / 1fr 
  }
  .make-row5 {
    grid-area: make-row5;
  }
  .make-row6 {
    grid-area: make-row6;
    font-size: 12px;
    line-height: 14px;
  
  }
  .make-row7 {
    grid-area: make-row7;
  }
  
}

/****** 1000px - media queries******/
@media (max-width: 1000px) {
  .grid-container {
    display: block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
    width: 80%;
    height: 1900px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;

  }

  .grid-container-2 {
    display: block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
    width: 80%;
    height: 2550px;
  }

    /*Make-1*/
    .makes-1 {
      width: 100%;
      height: 770px;
      grid-template: 
      "column1 column2" 1fr
      / 30% 70%
    }
  
  /*Row 2*/
  .row2 {
    padding-top: 10%;
    grid-area: row2;
    border: 4px solid green;
  }
  .row2 .header1 {
    padding-top: 5%;
    font-size: 30px;
  }
  .row2 .subText1 {
    font-size: 12px;
    margin-right: 20%;
    line-height: 14px;
  }
  /*Row 3*/
  .row3 {
    grid-area: row3;
    margin-right: 40%;
  }
  .row3 .header2 {
    padding-top: 7%;
    grid-area: row3;
  }
  .row3 .subText2 {
    padding: 2%;
    padding-top: 20px;
    font-size: 12px;
    line-height: 14px;
  }
  

    /*Make-2*/
    .makes-2 {
      width: 94%;
      height: 205px;
    }
    .viewProjectButton {
      transform: translate(0px, 140px);
      font-size: 10px;
    }
    

    /*Make-5*/
    .makes-5 {
      width: 97%;
      height: 950px;
      margin: auto;
  
    }


  .make-row1 {
    grid-area: make-row1;
  }
  .make-row2 {
    grid-area: make-row2;
    align-self: end;
    padding-bottom: 2%;
    font-size: 12px;
    line-height: 15px;
  
  }
  .make-row3 {
    grid-area: make-row3;
    padding-top: 2%;
    font-size: 12px;
    line-height: 15px;
  
  
  }
   .make-row4 {
    grid-area: make-row4;
  
  }
  
  .makeColumn-2 {
    grid-area: column2;
    grid-template:
    "make-row5" 25.5%
    "make-row6" 17%
    / 1fr 
  }
  .make-row5 {
    grid-area: make-row5;
  }
  .make-row6 {
    grid-area: make-row6;
    font-size: 12px;
    line-height: 12px;
  
  }
  .make-row7 {
    grid-area: make-row7;
  }
    


  .coding-1 {
    height: 400px;
  }
  .coding-1 img {
    transform: translate(20px, 320px);
  }
  .coding-4 {
    width: 100%;
    height: 400px;

  }
   /*Coding-4 Text*/
   .python {
    grid-area: python;
    margin: 30px;
    height: 80%;
  }
  .text-python {
    align-self: end;
    font-size: 12px;
    text-align: center;
  }
  .button-python {
    width: 120px;
    height: 40px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;

  }
  
  .java {
    grid-area: java;
    margin: 10px;
    align-items: start;
    text-align: center;
    font-size: 12px;
    width: 80%;
  }
  .java p {
    font-size: 40px;
    line-height: 38px;
  }

  .button-java {
    margin-bottom: 20px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;


  }

  .text-java {
    align-self: start;
    font-size: 12px;
    line-height: 15px;
  }
  
}
/****** 800px - media queries******/
@media (max-width: 800px) {
  .grid-container-2 {
    display: block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
    width: 80%;
    height: 2000px;
  }

   /*Make-1*/
   .makes-1 {
    width: 100%;
    height: 640px;
    grid-template: 
    "column1 column2" 1fr
    / 40% 60%
  }

/*Row 2*/
.row2 {
  grid-area: row2;
}
.row2 .header1 {
  font-size: 18px;
}
.row2 .subText1 {
  font-size: 8px;
  line-height: 10px;
}
/*Row 3*/
.row3 {
  grid-area: row3;
  margin-right: 30%;
}
.row3 .header2 {
  grid-area: row3;
  font-size: 18px;
}
.row3 .subText2 {
  font-size: 8px;
  line-height: 10px;
}

    /*Make-2*/
    .makes-2 {
      width: 94%;
      height: 165px;
    }
      .viewProjectButton {
        display: none;
      }

      
   /*Make-5*/
   .makes-5 {
    width: 97%;
    height: 700px;
    margin: auto;
  }

  .make-row2 {
    grid-area: make-row2;
    align-self: end;
    padding-bottom: 2%;
    font-size: 9px;
    line-height: 12px;
  
  }
  .make-row3 {
    grid-area: make-row3;
    padding-top: 2%;
    font-size: 9px;
    line-height: 12px;
  
  
  }
   .make-row4 {
    grid-area: make-row4;
  
  }
  
  .makeColumn-2 {
    grid-area: column2;
    grid-template:
    "make-row5" 25.5%
    "make-row6" 17%
    / 1fr 
  }
  .make-row5 {
    grid-area: make-row5;
  }
  .make-row6 {
    grid-area: make-row6;
    font-size: 8px;
    line-height: 10px;
  
  }
  .make-row7 {
    grid-area: make-row7;
  }

  .grid-container {
    display: block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
    width: 80%;
    height: 2300px;
  }

  .coding-1 {
    height: 300px;
  }
  .coding-1 img {
    transform: translate(20px, 220px);
  }
  
  .coding-4 {
    display: none;
  }

  .involvementImage {
    display: none;
  }

  .involvements-grid-item {
    margin-top:100px;
    display: block;
    width: 26em;
  }


/*Resized Coding (800px and 600px media queries) sections*/
.coding-5 {
  display: grid;
  width: 100%;
  height: 450px;
  background-color: lavender;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", Helvetica, Arial, sans-serif;


}

.coding-5 .button-python2 {
  width: 150px;
  height: 50px;
  display: grid;
  justify-self: center;
  font-size: 15px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;

}

.coding-5 .text-python2 {
  font-size: 20px;
  display: grid;
  font-family: "Nunito", Helvetica, Arial, sans-serif;


}

.coding-5 p {
  font-size: 50px;
  display: grid;
  line-height: 40px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;

}

.coding-6 {
  display: grid;
  width: 100%;
  height: 450px;
  background-color: lightyellow;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", Helvetica, Arial, sans-serif;


}

.coding-6 p {
  font-size: 50px;
  display: grid;
  line-height: 36px;
}

.coding-6 .button-java2 {
  width: 150px;
  height: 50px;
  display: grid;
  justify-self: center;
  font-size: 15px;
  font-family: "Nunito", Helvetica, Arial, sans-serif;

}

.coding-6 .text-java2 {
  font-size: 20px;
  display: grid;
}



  #jumbo {
    width: 80%;
    text-align: center;
    font-size: 11px;
    margin-left: 20px;

  }

  .fade-in {
    width: 100%;
    float: none;
    font-size: 21px;
    margin-top: 2px;
  }

  .mHeader-1 {
    font-size: 120px;
  }

  .latest-3 {
    display: block;
    height:400px;
    width:500px;
  }

  .latest-4 {
    display: block;
    height: 400px;
    width: 500px;
  }

  
  .contact-1 {
    display: block;
    width:550px;
}
  
.contactImage {
    display: none;
}

.contact-1 p {
  margin-top: 50px;
}
.contact-2 img {
  transform: translate(-50px, 360px);
}
 .mHeader-2 {
    font-size: 100px;
    transform: translate(20px, 100px);
  }

  .involvementImage {
    display: none;
  }

}

/****** 600px - media queries******/
@media (max-width: 600px) {
  .grid-container, .grid-container2 {
    display:block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
  }

  .grid-container {
    display: block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
    width: 80%;
    height: 2200px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;

  }

  .grid-container-2 {
    display: block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
    width: 80%;
    height: 1650px;
    font-family: "Nunito", Helvetica, Arial, sans-serif;

  }

    /*Make-1*/
    .makes-1 {
      width: 100%;
      height: 440px;
      font-family: "Nunito", Helvetica, Arial, sans-serif;

      grid-template: 
      "column1 column2" 1fr
      / 40% 60%
      
    }
  
  /*Row 2*/
  .row1 {
    height: 50px;
  }
  .row2 {
    grid-area: row2;
  }
  .row2 .header1 {
    font-size: 16px;
  }
  .row2 .subText1 {
    padding-top: 10px;
    font-size: 7px;
    line-height: 8px;
    padding-bottom: 0px;
  }
  /*Row 3*/
  .row3 {
    grid-area: row3;
    margin-right: 30%;
  }
  .row3 .header2 {
    padding-top: 5px;
    grid-area: row3;
    font-size: 18px;
  }
  .row3 .subText2 {
    padding-top: 5px;
    justify-self: start;
    font-size: 7px;
    line-height: 8px;
    margin-right: 20px;
  }
  
  /*Make-2*/
  .makes-2 {
    width: 91%;
    height: 100px;
  }

     /*Make-5*/
     .makes-5 {
      width: 97%;
      height: 540px;
      margin: auto;
  
    }
    .make-row2 {
      grid-area: make-row2;
      align-self: end;
      padding-bottom: 2%;
      font-size: 8px;
      line-height: 9px;
    
    }
    .make-row3 {
      grid-area: make-row3;
      padding-top: 2%;
      font-size: 8px;
      line-height: 9px;
    
    
    }
     .make-row4 {
      grid-area: make-row4;
    
    }
    
    .makeColumn-2 {
      grid-area: column2;
      grid-template:
      "make-row5" 25.5%
      "make-row6" 17%
      / 1fr 
    }
    .make-row5 {
      grid-area: make-row5;
    }
    .make-row6 {
      grid-area: make-row6;
      font-size: 6px;
      line-height: 7px;
    
    }
    .make-row7 {
      grid-area: make-row7;
    }

  

  .coding-1 {
    height: 210px;
  }
  .coding-1 img {
    display: none;
  }

  .contactImage {
    display: block;
    background-size: cover;
    height:20rem;
    width:20rem;
  }


  #jumbo  {
    width: 100%;
    float: none;
    font-size: 10px;
    margin-left: 30px;
  }

  .fade-in {
    width: 100%;
    float: none;
    font-size: 18px;
    margin-top: 2px;

  }

  .mHeader-1 {
    font-size: 110px;
  }


  .contact-grid-item {
    font-family: "Inter", Arial, sans-serif;
    padding: 40px;
    margin-top: 100px;
    }


      .contact-1 {
        display: block;
        width:370px;
    }
      
      .contactImage {
        display: none;
      }

      .contact-1 p {
        margin-top: 20px;
    
      }
      .contact-2 img {
        transform: translate(-40px, 200px);
      }


 .mHeader-2 {
    font-size: 70px;
    transform: translate(20px, 180px);
    
  }

  #email1 {
    font-size: 40px;
  }
  #email2 {
    font-size: 40px;
  }

  .aboutme-grid-item {
    margin-top:100px;
    display: block;
    width: 15em;
    }


}

      









