/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(https://fonts.googleapis.com/css?family=Inter);

/* Global */
html{
  min-height: 100%;
  min-width: 100%;
  overflow: scroll;
}

#pageHeader {
  text-align: center;
  font-size: 60px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
}

.topHeader {
  align-content: center;
  justify-content: center;
  text-align: center;
  padding-top: 10px;
  padding-left: 30px;

}

.topHeader img {
  height: 30px;
  width: 30px;
}

body {
  font-family: "Anonymous Pro", Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 1.6em; /*line space between each line*/
  /*(1em is 16px, 0.5em is 8 px)*/
  margin: 0; /*changes from default margin to have no margin*/
  height: 900px;
}

.container {
  width: 80%;
  margin-top: 30px;
}

/***Main Header***/
#mainHeader h1 {
  color: black;
  font-family: Helvetica, sans-serif;
  text-align: center;
  }

 /***Nav Bar***/ 
#mainNav {
  /*background: #ccc;*/
  color: black;
  position: -webkit-sticky; /*Stays in position!*/
  position: sticky;
  top: 0;
}
#mainNav ul {
  padding: 0;
  margin: 10;
  list-style: none; 
}

#mainNav li {
  display: inline;
  padding: 5px 10px;
  /*text-align: center;*/
}

#mainNav a { /*specifically for anchor link*/
  color: black;
  text-decoration: none;
  font-size: 18px;
}

#mainNav li:hover { /*specify hover state of list object*/
  background: lightgray; 
}

/***Jumbo***/
#jumbo {
  display: flex;
  min-height: 250px; /*min pixels*/
  align-items: center center;
  background-color: white;
}

#jumbo h1 {
  color: black;
  font-size: 45px;
  line-height: 1.6em;
  text-align: center;

}

/*Side Nav Bar*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffcccc;
  transition: 0.5s;
  padding-top: 60px; 
  font-family: "Inter", Helvetica, sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  color: white;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Animated Header*/
.ml11 {
  font-weight: 700;
  font-size: 3.5em;
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: black;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.line-1 {
    position: relative;
    top: 50%;  
    margin: 0 auto;
    border-right: 2px solid black;
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;    
    transform: translateY(-50%);    
    margin-bottom: 40px;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: black;}
  to{border-right-color: transparent;}
}

/*Sub heading animation*/
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 2.5s;
  font-family: Helvetica, Arial, sans-serif;
  margin-left: 10%;
  margin-bottom: 20%;
  font-size: 24px;
  color: blue;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*Latest header*/
.mHeader-1 {
  font-family: "Inter", Helvetica, sans-serif;
  margin-left: 10%;
  transform: translate(20px, 120px);
  font-size: 150px;
}


/******LATEST Grid Container******/
.designs-grid-container {
  display: grid;
  width: 80%; /*Makes 80% width of screen*/
  margin: auto; /*takes left over % (20) and centers left and right*/
  height: 1500px;
  padding-top: 30px;
  /*grid-template-rows: repeat(1, 1fr); /*repeat - that way dont have to repeat writing*/
  /*grid-template-columns: repeat(1, 1fr); repeat - that way dont have to repeat writing*/
  margin-bottom: 50px;
  grid-template:
  "projectOne projectOne" 1fr
  "projectTwo projectThree" 1fr
  "projectFour projectFour" 1fr
  / 1fr 1fr  /*columns respective to above rows, with their row attributes*/
}

.grid-item {
  display: grid;
  font-family: "Inter", Arial, sans-serif;
  background-color: #ffcccc;
  justify-items: center; /*align items is what allows elements within grid cell to align*/
  align-items: center;
  align-items: center;
  padding: 40px;
  grid-template: 
  "iconImage" 50%
  "textBox" 50%
  / 1fr

  }

.design-1 {
  display: grid;
  grid-area: projectOne;
  background-color: #fce4dc;

}

.design-1 img {
  grid-area: iconImage;  
  height: 140px;
  width: 140px;
  align-self: center;
}

.design-1 p {
  grid-area: textBox;
  text-align: center;
  margin-top: 2px;
  color: white;
  align-self: start;

}

.design-2 {
  grid-area: projectTwo;
  background-color: #9dc4c9;
}

.design-2 img {
  grid-area: iconImage;  
  height: 150px;
  width:150px;
  align-self: center;
}
.design-2 p {
    grid-area: textBox;
    text-align: center;
    margin-top: 2px;
    color: white;
    align-self: start;
}

.design-3 {
  grid-area: projectThree;
  background-color: lightblue;
  color: white;
  text-align: center;
}

.design-4 {
  grid-area: projectFour;
  background-color: lavender;
}


/*
.latest-3 img {
  grid-area: iconImage;  
  height: 150px;
  width:150px;
  align-self: center;

}

.latest-3 p {
  grid-area: textBox;
  text-align: center;
  margin-top: 2px;
  color: white;
  align-self: start;
}
*/

.design-4 {
  font-size: 50px;
  text-align: center;
  color: white;
  
}

/******ABOUT ME Grid Container******/
.grid-container3 {
  position: relative;
  display: grid;
  width: 80%; /*Makes 80% width of screen*/
  margin: auto; /*takes left over % (20) and centers left and right*/
  height: 600px;
  padding-top: 30px;
  margin-bottom: 250px;
  justify-items: stretch;
  align-items: stretch;
}

.aboutme-grid-item {
  display: grid;
  font-family: "Inter", Arial, sans-serif;
  padding: 40px;
  }

  .aboutme-1 {
    grid-column: 1 / 2;
    display: grid;
    background-color: lavender;

  }
  
  
  .mHeader-3 {
    font-family: "Inter", Helvetica, sans-serif;
    margin-left: 10%;
    transform: translate(20px, 120px);
    font-size: 130px;
    z-index:1;

  }
  
  .aboutText {
    text-align: start;
    position: absolute;
    top: 8px;
    left: 16px;
    padding-top: 60px;
    color: white;
  
  }
  
  .fieldProtraitImage {
    background-color:lightyellow;
    background-image: url("../MainPage_Images/fieldPortrait.png");
    background-size: cover;
    z-index:-1;
    /*opacity: 0.9;*/

  }

/******CONTACT BOX Grid Container******/
.grid-container2 {
  display: grid;
  width: 80%; /*Makes 80% width of screen*/
  margin: auto; /*takes left over % (20) and centers left and right*/
  height: 600px;
  padding-top: 30px;
  margin-bottom: 100px;
  /*grid-template-rows: repeat(1, 1fr); /*repeat - that way dont have to repeat writing*/
  /*grid-template-columns: repeat(1, 1fr); repeat - that way dont have to repeat writing*/
  grid-template-columns: repeat(2, 1fr);

  justify-items: stretch;
  align-items: stretch;

}

.contact-grid-item {
  display: grid;
  font-family: "Inter", Arial, sans-serif;
  background-color: #ffcccc;
  padding: 40px;
  }

.contact-1 {
  grid-column: 1 / 2;
  display: grid;
  background-color: lavender;
}


.mHeader-2 {
  font-family: "Inter", Helvetica, sans-serif;
  margin-left: 10%;
  transform: translate(20px, 120px);
  font-size: 130px;
}

.contact-1 p {
  text-align: start;
  color: white;


}

.contactImage {
  background-color:lightyellow;
  grid-column: 2 / 3;
  background-image: url("../MainPage_Images/portrait.png");
  background-size: cover;

}

/******media queries******/
@media (max-width: 800px) {
  .grid-container, .grid-container2 {
    display: block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
  }
  .contactImage {
    display: block;
    background-size: cover;
    height:25rem;
    width:25rem;
  }

  #jumbo {
    width: 80%;
    text-align: center;
    font-size: 11px;
    margin-left: 20px;

  }

  .fade-in {
    width: 100%;
    float: none;
    font-size: 21px;
    margin-top: 2px;
  }

  .mHeader-1 {
    font-size: 120px;
  }

  .mHeader-2 {
    font-size: 100px;
    transform: translate(20px, 120px);

  }
}

@media (max-width: 600px) {

  .grid-container, .grid-container2 {
    display:block;
    float: none; /*Remove and add elements as needed once web page becomes smaller!*/
  }
  .contactImage {
    display: block;
    background-size: cover;
    height:20rem;
    width:20rem;
  }

  #jumbo  {
    width: 100%;
    float: none;
    font-size: 10px;
    margin-left: 30px;
  }

  .fade-in {
    width: 100%;
    float: none;
    font-size: 18px;
    margin-top: 2px;

  }

  .mHeader-1 {
    font-size: 110px;
  }

  .mHeader-2 {
    font-size: 70px;
    transform: translate(20px, 90px);
  }

}








